<div class="container">
  <br>
  <br>
  <h1>Welcome to the Archive</h1>

  <table>
    <tr>
      <td class="col-md-1"><b>Avatar</b></td>
      <td class="col-md-2"><b>Owner</b></td>
      <td class="col-md-3"><b>Repo Name</b></td>
      <td class="col-md-6"><b>Description</b></td>
    </tr>

    <tr>
      <td><hr></td>
      <td><hr></td>
      <td><hr></td>
      <td><hr></td>
    </tr>

    <!--<tr *ngFor = "let repo of repos"> &lt;!&ndash; iterate through using Angular directive &ndash;&gt;-->
    <!--<td class="col-md-1"><img src={{repo.avatar}} alt="Owner Avatar" height="32" width="32"></td>-->
    <!--<td class="col-md-2">{{repo.owner}}</td>-->
    <!--<td class="col-md-3"><a href={{repo.url}}>{{repo.name}}</a></td>-->
    <!--<td class="col-md-6">{{repo.description}}</td>-->
    <!--</tr>-->
  </table>
</div>
