<div class = "container">
  <h1><b>Repo-Overflow</b></h1>
  <p class="col-md-9">Displays Github repositories related to daily trending topics on Stack Overflow</p>
  <a href="http://localhost:3000/auth"><button>Log In with Github (OAuth 2.0)</button></a>

  <br>
  <br>
  <br>

  <table>
    <tr>
      <td class="col-md-1"><b>Avatar</b></td>
      <td class="col-md-2"><b>Owner</b></td>
      <td class="col-md-3"><b>Repo Name</b></td>
      <td class="col-md-6"><b>Description</b></td>
    </tr>

    <tr>
      <td><hr></td>
      <td><hr></td>
      <td><hr></td>
      <td><hr></td>
    </tr>

    <tr *ngFor = "let repo of repos"> <!-- iterate through using Angular directive -->
      <td class="col-md-1"><img src={{repo.avatar}} alt="Owner Avatar" height="42" width="42"></td>
      <td class="col-md-2">{{repo.owner}}</td>
      <td class="col-md-3"><a href={{repo.url}}>{{repo.name}}</a></td>
      <td class="col-md-6">{{repo.description}}</td>
    </tr>
  </table>
</div>
